
# auto generated wildcard
gen/db/.env
load_modules
gen
node_modules

    # added by cds deploy
    default-env.json
    
    # added by cds deploy
    default-env.json
    
    # added by cds deploy
    default-env.json
    